.side-nav {
  top: 100px;
  position: sticky;
  align-self: flex-start;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  padding-right: 30px;
}

.section-body {
  padding-bottom: 5px;
}

// MOHAMED: small visual tweak for the keyboard-shortcut hint under the search box
.keyboard-hint {
  display: block;
  margin-top: 4px;
  font-size: 0.85rem;
}

@media (width <= 992px) {
  .side-nav {
    display: none;
  }

  .flex-container {
    padding-right: 0;
  }
}
